name: Go Unit Tests

on:
  push:
    branches:
      - 'master'
    paths:
      - 'cmd/**'
  pull_request:
    paths:
      - 'cmd/**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Run tests
        run: make go-test
